* {
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
}

body {
    width: 90%;
    background-color: #ddd;
    color: #090909;
}

button {
    height: 35px;
    background-color: darkgreen;
    color: #fafafa;
    border: #090909 1px solid;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    transition: 20ms;
}
button:hover{
    background-color: #20B020;
    transition: 20ms;
}
button:active{
    background-color: #B02020;
    transition: 10ms;
}

.title{
    text-align: center;
}