<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/Todo.css}">
</head>
<body>
<div class="container">
<div class="namn">
    <H1 class="title">Fixa sysslorna</H1>
    <div th:each="todo : ${todoList}">
        <h2 th:text="${todo.getTitle()}"></h2>
        <p th:text="${todo.getId()}"></p>
        <p th:text="${todo.getTodomessage()}"></p>
        <a th:href="@{|/todo/${todo.getId()}/edittodo|}"><button>Redigera</button></a>
        <button th:data-id="${todo.getId()}" th:onclick="handleDelete(this.getAttribute('data-id'))">Ta bort</button>
    </div>
<a th:href="@{/todo/addToDoForm}"> <button>Lägga till</button></a>
</div>
</div>
<script type="text/javascript" th:src="@{/Todo.js}"></script>
</body>
</html>